Source: opm-porsol
Priority: extra
Maintainer: Arne Morten Kvarving <arne.morten.kvarving@sintef.no>
Build-Depends: build-essential, debhelper (>= 9), libboost-filesystem-dev,
               libboost-system-dev, libboost-date-time-dev, libboost-test-dev,
               libsuperlu3-dev, gfortran, libsuitesparse-dev, libopm-core-dev,
               libdune-common-dev, libdune-istl-dev, cmake, libtinyxml-dev, bc,
               libert.ecl-dev, git, zlib1g-dev, libtool,
               libdune-cornerpoint-dev, libdune-grid-dev, doxygen,
               texlive-latex-extra, texlive-latex-recommended, ghostscript
Standards-Version: 3.9.2
Section: libs
Homepage: http://opm-project.org
Vcs-Git: git://github.com/OPM/opm-porsol.git
Vcs-Browser: https://github.com/OPM/opm-porsol

Package: libopm-porsol1-dev
Section: libdevel
Architecture: all
Multi-Arch: foreign
Depends: libopm-porsol1 (= ${binary:Version})
Provides: libopm-porsol-dev
Suggests: libopm-porsol1-doc
Description: OPM porsol library -- development files
 This module provides semi-implicit pressure and transport solvers using the IMPES method.

Package: libopm-porsol1
Section: libs
Pre-Depends: ${misc:Pre-Depends}, multiarch-support
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libopm-porsol
Description: OPM porsol library
 This module provides semi-implicit pressure and transport solvers using the IMPES method.

Package: libopm-porsol1-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Provides: libopm-porsol-doc
Description: OPM porsol library -- documentation
 This module provides semi-implicit pressure and transport solvers using the IMPES method.

Package: libopm-porsol1-dbg
Section: debug
Architecture: any
Multi-Arch: foreign
Provides: libopm-core-dbg
Depends: libopm-core1 (= ${binary:Version}), ${misc:Depends}
Description: OPM porsol library -- debug symbols
 This module provides semi-implicit pressure and transport solvers using the IMPES method.
